.sports-comp {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sports-nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo:hover, .logo:focus {
    cursor: pointer;
}

.nba { height: 90px; }

.nfl { height: 80px; }

.mlb { height: 75px; }

.pga { height: 105px; }

.current { 
    border: 1px solid whitesmoke;
    border-radius: 5%;
}

.scores {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.ScoreCard {
    background-color: #81d8f7;
    color: rgb(27,51,107);
    border-radius: 5%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Tomorrow', sans-serif;
}

.ScoreCard h2, .ScoreCard h3, .ScoreCard h4 { margin: 0; }

.ScoreCard h2 { 
    font-size: 0.8rem;
    text-align: center;
}

.golf-card {
    background-color: #81d8f7;
    color: rgb(27,51,107);
    border-radius: 5%;
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Tomorrow', sans-serif;
}


.golf-card h2, .golf-card h3, .golf-card h4 { margin: 0; }

.golf-card h2 { 
    font-size: 0.8rem;
    text-align: center;
}