.cinque {
    font-family: 'Patua One', sans-serif;
    font-size: 3rem;
    margin: 0;
}

.nav-bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    box-shadow: 0 0 0 10px black;
    margin-bottom: 20px;
    height: 120px;
}

.cinque-nav {
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.holiday {
    grid-column: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.holiday > h2 {
    margin: 0;
}

.holiday-display {
    font-family: 'Lobster Two', sans-serif;
}

@media only screen and (min-width: 750px) {
    .nav-bar { grid-template-columns: 1fr 1fr 1fr; }

    .holiday { grid-column: 3/4; }
}