.news-section {
    grid-column: 2/3;
    padding: 15px;
}

.NewsComp {
    font-family: 'Bitter', serif;
}

.news-link {
    text-decoration: none;
    color: whitesmoke;
}

.news-link:hover, .news-link:focus {
    text-decoration: underline;
}

.loading {
    font-family: 'Bitter', serif;
}