h1 {
    margin: 0;
}

body {
  margin: 0;
  box-sizing: border-box;
  color: #81d8f7;
  background-color: rgb(27,51,107);
}

.weather-news-section {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.gaming-reddit {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

@media only screen and (min-width: 950px) {
  .gaming-reddit {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  
  .weather-news-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
}