h1 {
    margin: 0;
}

body {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  color: #81d8f7;
  background-color: rgb(27,51,107);
}

.weather-news-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.gaming-reddit {
  display: grid;
  grid-template-columns: 1fr 1fr;
}