.apod {
    text-align: center;
    margin: 10px 10px 0 10px;
    padding-top: 5px;
}

.apod-title {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 5px;
}

.apod-pic {
    width: 100%;
}
.apod-vid {
    width: 80%;
    height: 400px;
}

.apod-descrip {
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
}

@media only screen and (min-width: 1300px) {
    .apod-pic { max-width: 1200px;}
} 